body {
  background-color: #d4f1f4;
}

h1 {
  color: #05445e;
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}

h2 {
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

p {
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

li.list_item {
  color: #000000;
  font-family: 'Roboto', sans-serif;
}
